<ion-header>
  <ion-toolbar>
    <ion-title>
      Restaurantes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let restaurante of restaurantes">
      <img [src]="restaurante.imagen" alt="Imagen del restaurante">
      <ion-card-content>
        <ion-card-title>{{ restaurante.nombre }}</ion-card-title>
        <p><strong>Dirección:</strong> {{ restaurante.direccion }}</p>
        <p><strong>Celular:</strong> {{ restaurante.celular }}</p>
        <p><strong>Propietario:</strong> {{ restaurante.propietario }}</p>
        <p><strong>Servicios:</strong> {{ restaurante.servicios }}</p>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
