/* Estilo del carrusel de imágenes */
.image-carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }
  
  .carousel-slide {
    flex: 0 0 auto;
    width: 100%;
    scroll-snap-align: start;
  }
  
  .carousel-slide img {
    width: 100%;
    height: auto;
  }
  