<ion-header>
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title class="ion-text-center">
        Hoteles
      </ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-content>
    <ion-list>
      <ng-container *ngFor="let hotel of hoteles">
        <ion-item (click)="toggleList(hotel)">
          <ion-label>{{ hotel.nombre }}</ion-label>
          <ion-icon [name]="hotel.abierto ? 'chevron-up' : 'chevron-down'" slot="end"></ion-icon>
        </ion-item>
        <ion-card *ngIf="hotel.abierto">
          <ion-card-content>
            <div class="image-carousel">
              <div class="carousel-slide" *ngFor="let imagen of hotel.imagenes">
                <img [src]="imagen" alt="Imagen del hotel">
              </div>
            </div>
            {{ hotel.descripcion }}
          </ion-card-content>
        </ion-card>
      </ng-container>
    </ion-list>
  </ion-content>
  
  
  
  

  