.background-content {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/turismoapp-a9bfb.appspot.com/o/fondo-app.png?alt=media&token=6974ff45-1eb1-457b-a044-0d057e9a5dd4');
    background-position: center;
    width: 100%;
    height: 100vh;
    object-fit: cover; 
  }

  
  
  
  
  